/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

// html, body, div, span, applet, object, iframe,
// h1, h2, h3, h4, h5, h6, p, blockquote, pre,
// a, abbr, acronym, address, big, cite, code,
// del, dfn, em, img, ins, kbd, q, s, samp,
// small, strike, strong, sub, sup, tt, var,
// b, u, i, center,
// dl, dt, dd, ol, ul, li,
// fieldset, form, label, legend,
// table, caption, tbody, tfoot, thead, tr, th, td,
// article, aside, canvas, details, embed, 
// figure, figcaption, footer, header, hgroup, 
// menu, nav, output, ruby, section, summary,
// time, mark, audio, video {
// 	margin: 0;
// 	padding: 0;
// 	border: 0;
// 	font-size: 100%;
// 	font: inherit;
// 	vertical-align: baseline;
// }
// /* HTML5 display-role reset for older browsers */
// article, aside, details, figcaption, figure, 
// footer, header, hgroup, menu, nav, section {
// 	display: block;
// }
// body {
// 	line-height: 1;
// }
// ol, ul {
// 	list-style: none;
// }
// blockquote, q {
// 	quotes: none;
// }
// blockquote:before, blockquote:after,
// q:before, q:after {
// 	content: '';
// 	content: none;
// }
// table {
// 	border-collapse: collapse;
// 	border-spacing: 0;
// }

$breakpoint-tablet: 768px;
$breakpoint-phone: 500px;
$breakpoint-iphone7-less: 420px;

html, body, p, h1, h2, h3, h4, h5 { font-family: 'Roboto', sans-serif; }

body{
    background-image: url(./pics/background.jpg);
    background-color:black !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

//navbar styling
.navbar{
    z-index: 1000 !important;
    width: 180px;
    height: 160px;
    top:100px;
    padding:0;
    background: none;
    transform: translateX(-180px);
    transition: transform 500ms ease;
    position: fixed !important;
    .nav-link{
        color: white !important;
    }
    .active{
        color: red !important;
    }
}
.visible{
    transition: transform 500ms ease-in-out;
    transform: translate(0)
}
.navbar_icon, .inverse_icon{
    z-index: 1000 !important;
    position: fixed;
    color: white;
    top: 100px;
}
.mr-auto{
    flex-direction: column !important;
}

//about page styling
.about{
    
    #background{
        // min-height: 100%;
        // min-width: 1024px;
        // width: 100vw;
        // height: 100vh;
        // position: fixed;
        // top:0;
        // left:0;
        // z-index: -50;
        // filter:brightness(50%);
        
    }
    #footer{
        position: fixed;
        bottom: 0;
        right: 10px;
        color: darkgrey;
        font-size: 10px;
        a{
            color: darkgrey;
            text-decoration: none;
        }
    }
    .none{
        display: none;
    }
    .middle{
        max-width: 1024px;
        margin:auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        -webkit-animation: showText 3s normal forwards; /* Safari 4+ */
        -moz-animation:    showText 3s normal forwards; /* Fx 5+ */
        -o-animation:      showText 3s normal forwards; /* Opera 12+ */
        animation:         showText 3s normal forwards;
        @keyframes showText {
            0% {right: 0; display: none; opacity: 0;}
            50% {right: -300px; opacity: 1}
            100% {opacity: 1; display: block;}
        }
        .my_pic{
            width: 200px;
            @media(max-width: $breakpoint-tablet){
                width: 150px;
            }
            img{
                border-radius: 50%;
                border: 1px solid white;
                width: 100%;
                height: 200px;
                @media(max-width: $breakpoint-tablet){
                    height: 150px;
                }
            }
        }
        .vertical_line{
            height:30px;
            border:1px solid white;
        }
        .intro{
            text-align: center;
            color: #D3D3D3;
            h1{
                padding-top: 10px;
            }
            p{
                max-width: 900px;
                width: 60%;
                margin:auto;
                text-align: justify;
                @media(max-width: $breakpoint-phone){
                    width: 80%;
                }
            }
        }
        .horizontal_line{
            width: 600px;
            border-top: 1px solid white;
            @media(max-width: $breakpoint-tablet){
                width: 480px;
            }
            @media(max-width: $breakpoint-phone){
                width: 420px;
            }
        }
        .links{
            padding-top: 30px;
            padding-bottom: 10px;
            a{
                text-decoration: none;
                color: #D3D3D3;
                cursor: pointer;
                .icon{
                    transition: transform 0.4s;
                    &:hover{
                        transform: scale(1.3);
                    }
                }
            }
        }
        .bottom{
            display: flex;
            justify-content: space-evenly;
            width: 40%;
            max-width: 600px;
            @media(max-width: 900px){
                width: 45%;
            }
            @media(max-width: 700px){
                width: 60%;
            }
            @media(max-width: 570px){
                width: 70%;
            }
            .one, .two{
                @media(max-width: $breakpoint-phone){
                    border-bottom: none !important;
                }
            }
            .three{
                border-top-right-radius: 0;
                border-top-left-radius: 0;
            }
            @media(max-width: $breakpoint-phone){
                flex-direction: column;
                width: 40%;
            }
            .navigation{
                width: 100%;
                padding: 10px;
                border: 1px solid white;
                text-align: center;
                color: #D3D3D3;
                cursor:pointer;
                .three{
                    @media(max-width: $breakpoint-phone){
                    border-radius: 3px;
                    }
                }
                &:hover{
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }
        }
    }
}

//projects styling
.projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 600px;
    height: 600px;
    @media (max-width: $breakpoint-phone){
        width: 400px;
        height: auto;
        margin: auto;
        position: relative;
        transform: translate(0,0);
        top: 0;
        left: 0;
        margin-top: 80px;
        min-height: 600px;
    }
    .header{
        display: flex;
        width:78%;
        justify-content: space-between;
        color:#D3D3D3;
        align-items: baseline;
        flex-direction: column-reverse;
        height: 80px;
        padding-bottom: 10px;
        
        .icon{
            padding-top: 10px;
            color: #D3D3D3;
            cursor: pointer;
            width: 100%;
            text-align: right;
        }
        h2{
            text-decoration: underline;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: 100;
            text-underline-position: under;
            @media (max-width: $breakpoint-phone){
                font-size: 16px;
            }
        }
    }
    .carousel {
        height: 500px;
        width: 550px;
        border: 1px solid white;
    }
    .up{
        position: absolute;
        top: 80px;
    }
    .down{
        position: absolute;
        top: 300px; 
        // display:none !important;
    }
    .up, .down{
        display: flex;
        justify-content: space-evenly;
        background-color:none;
        width: 80%;
        // position: relative;
        @media (max-width: $breakpoint-phone){
            display: flex;
            position: relative;
            top:0;
        }
        .not-visible{
            display: none !important;
        }
        .col{
            padding:0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: fit-content;
            
            #bigger_view{
                // margin-left: 0px;
                height: 480px;
                width: 400px;
                // margin-left: 0;
                justify-content: center;
                // display: block;
                @media (max-width: $breakpoint-phone){
                    flex-direction: column;
                    height: fit-content;
                }
                .minus{
                    position: absolute;
                    bottom: 10px;
                    right: 50px;
                    cursor: pointer;
                    @media (max-width: $breakpoint-phone){
                        bottom : 40px;
                        right: 10px;
                    }
                }
            }
            .inner{
                width:200px;
                height: 170px;
                border-radius: 4px;
                // color: #D3D3D3;
                // filter: grayscale(60%);
                overflow: hidden;
                // transition: width 0.5s ease;
                background: linear-gradient(#92bCa6, #A2CCB6);
                // background-color: black;
                @media(max-width: $breakpoint-phone){
                    margin-bottom: 30px;
                }
                #nodejs{
                    padding: 0 0 10px 0;
                    background-color: white;
                }
                .info{
                    .plus{
                        width: 100%;
                        // color: white;
                        text-align: right;
                        margin-bottom: 10px;
                        margin-left: -5px;
                        cursor: pointer;
                    }
                    .links{
                        a{
                            color:black;
                            text-decoration: none;
                            .icon{
                                &:hover{
                                    transform: scale(1.1);
                                }
                            }
                        }
                        @media (max-width: $breakpoint-phone){
                            padding-bottom: 5px;
                        }
                    }
                }
                // &:hover{
                //     // filter:grayscale(0);
                //     .info{
                //         // border: 1px solid white;
                //         transition: 1s ease;
                //         height: 200px;
                //         background: linear-gradient(#92bCa6, #A2CCB6);
                //         // background-color: black;
                //         transform: translate(0,-124px);
                //         .date{
                //             width: 80%;
                //             border-bottom: 1px solid white;
                //         }
                //     }
                // }
                
                h4{
                    padding: 10px 5px;
                    letter-spacing: 1px;
                    font-size: 18px;
                    // text-transform: uppercase;
                }
                p{
                    text-align: left;
                    // padding-left: 5px;
                    margin-left:5px;
                    // border:1px solid blue;
                }
                img{
                    padding: none;
                    width:100%;
                }
                .comingSoon{
                    padding-top: 80px;
                }
            }
        }
    }
}

.skills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 600px;
    height: 600px;
    @media (max-width: 650px){
        width: 500px;
    }
    @media (max-width: $breakpoint-phone) {
        width: 400px;
    }
    .header{
        display: flex;
        width:78%;
        justify-content: space-between;
        color:#D3D3D3;
        align-items: baseline;
        flex-direction: column-reverse;
        height: 80px;
        padding-bottom: 10px;
        .icon{
            padding-top: 10px;
            color: #D3D3D3;
            cursor: pointer;
            width: 100%;
            text-align: right;
        }
        h2{
            text-decoration: underline;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: 100;
            text-underline-position: under;
            @media (max-width: $breakpoint-phone){
                font-size: 16px;
            }
        }
    }
    .skill_icons{
        position: absolute;
        top: 100px;
        width: 80%;
        color: #D3D3D3;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid rgba(0, 0, 0, 0);
        height: 70%;
        justify-content: space-between;
        @media (max-width: 650px){
            width: 90%;
            justify-content: space-evenly;
        }
        @media (max-width: $breakpoint-phone){
            width: 80%;
            height: 60%;
            justify-content: space-between;
        }
        .each_icon{
            border: 1px solid white;
            width: 120px;
            height: 120px;
            text-align: center;
            padding-top: 30px;
            border-radius: 50%;
            @media (max-width: $breakpoint-phone) {
                border: none;
                border-radius: 0;
                font-size: 10px;
                width: 80px;
                height: 80px;
                padding-top: 0;
                h4{
                    font-size: 16px;
                }
            }
        }
    }
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 600px;
    height: 600px;
    @media (max-width: $breakpoint-phone){
        width: 400px;
    }
    .header{
        display: flex;
        width:78%;
        justify-content: space-between;
        color:#D3D3D3;
        align-items: baseline;
        flex-direction: column-reverse;
        height: 80px;
        padding-bottom: 10px;
        .icon{
            padding-top: 10px;
            color: #D3D3D3;
            cursor: pointer;
            width: 100%;
            text-align: right;
        }
        h2{
            text-decoration: underline;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: 100;
            text-underline-position: under;
            @media (max-width: $breakpoint-phone){
                font-size: 16px;
            }
        }
    }
    #message{
        color: #D3D3D3;
    }
    .send_form{
        position: absolute;
        top: 80px;
        width: 80%;
        color: #D3D3D3;
        .labels{
            width:100%;
            // border: 1px solid red;
            display: flex;
            & > * {
                width:100%;
                padding: 10px;
                font-size: 16px;
            }
        }
        .big>textarea{
            height:150px;
            &:focus{
                background-color: rgba(255, 255, 255, 0.2);
                outline: none;
                border: 2px solid white;
            }
        }
        .inputs{
            width:100%;
            display: flex;
            & > * {
                border:1px solid white;
                border-radius: 3px;
                width:100%;
                margin-left:10px;
                background-color: rgba(0, 0, 0, 0.5);
                color:white;
                height: 40px;
            }
            input:focus{
                background-color: rgba(255, 255, 255, 0.2);
                outline: none;
                border: 2px solid white;
            }
        }
        .buttons{
            display:flex;
            // border:1px solid red;
            justify-content: flex-start;
            width: 80%;
            @media (max-width: $breakpoint-phone){
                width: 90%;
            }
            button{
                outline:none;
                width:100%;
                border-radius: 3px;
                padding: 8px;
                margin: 10px 10px;
                @media (max-width: $breakpoint-phone){
                    padding: 0;
                }
            }
            #submit{
                color: black;
                background-color: #D3D3D3;
            }
            #reset{
                color: #D3D3D3;
                background-color: rgba(0, 0, 0, 0.5);
                cursor: pointer;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }
        }
        .links{
            padding: 20px 10px;
            a{
                text-decoration: none;
                color: #D3D3D3;
                cursor: pointer;
                .icon{
                    transition: transform 0.4s;
                    &:hover{
                        transform: scale(1.3);
                    }
                }
            }
        }
    }
}
