$breakpoint-tablet: 768px;
$breakpoint-phone: 480px;

//navbar styling
.navbar{
    z-index: 1000 !important;
    width: 180px;
    height: 160px;
    top:100px;
    padding:0;
    background: none;
    transform: translateX(-180px);
    transition: transform 500ms ease;
    position: fixed !important;
    .nav-link{
        color: white !important;
    }
    .active{
        color: red !important;
    }
}
.visible{
    transition: transform 500ms ease-in-out;
    transform: translate(0)
}
.navbar_icon, .inverse_icon{
    z-index: 1000 !important;
    position: fixed;
    color: white;
    top: 100px;
}
.mr-auto{
    flex-direction: column !important;
}

// .container-fluid{
//     padding-left: 0;
//     border: 1px solid black;
//     // height: 100vh;
//     // background-color: skyblue;
// }

//about page styling
.about{
    top: 0;
    .top{
        display: flex;
        height: 95vh;
        @media (max-width: $breakpoint-phone) {
            flex-direction: column;
        }
        .left{
            border: 1px solid black;
            background-color: black;
            height:100%;
            align-content: center;
            bottom:0;
            @media (max-width: $breakpoint-phone) {
                text-align: center;
            }
            img{
                width:70%;
                position: absolute;
                bottom:10%;
                @media (max-width: $breakpoint-phone) {
                    position: relative;
                }
            }
        }
        .right{
            background-color: black;
            font-size: 3rem;
            color: white;
            height:100%;
            display:flex;
            flex-direction: column;
            h1{
                margin:auto;
                margin-bottom: 0;
                @media (max-width: $breakpoint-tablet) {
                    font-size: 20px;
                }
                @media (max-width: $breakpoint-phone) {
                    margin-top: 0;
                }
            }
            h3{
                margin:auto;
                margin-top: 0;
                margin-bottom: 0;
                @media (max-width: $breakpoint-tablet) {
                    font-size: 16px;
                }
            }
            p{
                margin: auto;
                margin-top:20px;
                font-size: 1.3rem;
                @media (max-width: $breakpoint-tablet) {
                    font-size: 12px;
                }
                @media (max-width: $breakpoint-phone) {
                    width: 90%;
                }
            }
        }
    }
    .bottom{
        height: 5vh;
        background-color: black;
        display: flex;
        justify-content: center;
        .icon{
            color:white;
        }
        a{
            text-decoration: none;
        }
    }
}

//projects styling
.projects{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .up{
        cursor: pointer;
        height: 50vh;
        border: 1px solid black;
        background-color:none;
        .col{
            display: flex;
            .inner{
                margin:auto;
                width:400px;
                height: 90%;
                border-radius: 40px;
                box-shadow: 5px 5px 30px 7px;
                transition: 0.4s;
                background-color: chocolate;
                &:hover {
                    transform: scale(0.9, 0.9);
                    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), -5px -5px 30px 15px rgba(0,0,0,0.22);
                }
            }
        }
    }
    .down{
        height: 50vh;
    }
}