$breakpoint-tablet: 768px;
$breakpoint-phone: 480px;
.navbar{
    z-index: 10000;
    width: 180px;
    height: 160px;
    top:100px;
    padding:0;
    background: none;
    transform: translateX(-180px);
    transition: transform 500ms ease;
    position: fixed !important;
    .nav-link{
        color: white !important;
    }
    .active{
        color: red !important;
    }
}
.visible{
    transition: transform 500ms ease-in-out;
    transform: translate(0)
}
.navbar_icon{
    position: fixed;
    color: white;
    top: 100px;
}
.inverse_icon{
    position: fixed;
    color: white;
    top: 100px;
    z-index: 10001;
}
.mr-auto{
    flex-direction: column !important;
}

.container-fluid{
    padding-left: 0;
    border: 1px solid black;
    // height: 100vh;
    // background-color: skyblue;
}
.projects{
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
    background-color: brown;
    .card{
        height: fit-content;
    }
}
.about{
    top: 0px;
    .top{
        display: flex;
        z-index: -1;
        height: 95vh;
        @media (max-width: $breakpoint-phone) {
            flex-direction: column;
        }
        .left{
            border: 1px solid black;
            z-index: -1;
            background-color: black;
            height:100%;
            align-content: center;
            bottom:0;
            @media (max-width: $breakpoint-phone) {
                text-align: center;
            }
            img{
                width:70%;
                position: absolute;
                bottom:10%;
                @media (max-width: $breakpoint-phone) {
                    position: relative;
                }
            }
        }
        .right{
            background-color: black;
            font-size: 3rem;
            color: white;
            height:100%;
            display:flex;
            flex-direction: column;
            @media (max-width: $breakpoint-phone) {
                z-index: -1;
            }
            h1{
                margin:auto;
                margin-bottom: 0;
                @media (max-width: $breakpoint-tablet) {
                    font-size: 20px;
                }
                @media (max-width: $breakpoint-phone) {
                    margin-top: 0;
                }
            }
            h3{
                margin:auto;
                margin-top: 0;
                margin-bottom: 0;
                @media (max-width: $breakpoint-tablet) {
                    font-size: 16px;
                }
            }
            p{
                margin: auto;
                margin-top:20px;
                font-size: 1.3rem;
                @media (max-width: $breakpoint-tablet) {
                    font-size: 12px;
                }
                @media (max-width: $breakpoint-phone) {
                    width: 90%;
                }
            }
        }
    }
    .bottom{
        height: 5vh;
        background-color: black;
        display: flex;
        justify-content: center;
        .icon{
            color:white;
        }
        a{
            text-decoration: none;
        }
    }
}
