
.navbar{
    z-index: 10000;
    width: 180px;
    height: 160px;
    top:100px;
    padding:0;
    background: black;
    transform: translateX(-180px);
    transition: transform 500ms ease;
    position: fixed !important;
    .nav-link{
        color: white !important;
    }
    .active{
        color: red !important;
    }
}
.visible{
    transition: transform 1s ease-in-out;
    transform: translate(0)
}
.navbar_icon{
    position: fixed;
    color: black;
    top: 100px;
}
.inverse_icon{
    position: fixed;
    color: white;
    top: 100px;
    z-index: 10001;
}
.mr-auto{
    flex-direction: column !important;
}

.container-fluid{
    padding-left: 0;
    border: 1px solid black;
    // height: 100vh;
    // background-color: skyblue;
}
.projects{
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
    background-color: brown;
}
.about{
    top: 0px;
    .row{
        display: flex;
        z-index: -1;
        height: 100vh;
        .left{
            border: 1px solid black;
            z-index: -1;
            background-color: yellow;
            height:100%;
            align-content: center;
        }
        .right{
            background-color: black;
            font-size: 3rem;
            color: white;
            height:100%;
            display:flex;
            p{
                margin: auto;
            }
        }
    }
}
